body{
    margin: 0;
    font-size: 1.5rem;
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Viga', sans-serif;
}

img{
    max-width: 200px;
    max-height: 300px;
    border: solid black 3px;
}
header{
    position: sticky;
    top:0;
    background-color: #87b438;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 3px;
    z-index: 10;
    padding-left: 3px;
    height: 55px;
    color: #DCE2BD;
    font-family: 'Viga', sans-serif;
}
.nav-buttons{
    display: flex;
    width: 400px;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}
a{    
  text-decoration: none;
}
a:visited {
  color: #DCE2BD;
  text-decoration: none;
}
.information{
    display:flex;
    justify-content: center;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    font-family: 'Viga', sans-serif;
}
.video{
    display: flex;
    justify-content: center;
}
iframe{
    max-width:700px;
    max-height: 400px;
}
#quiz{
    display: flex;
    justify-content: center;
    margin: 15px;
}
input[type=submit] {
    font-size: 4rem;
    background-color: #87b438;
    border: solid 5px;
}
.us{
    display: flex;
    justify-content: center; 
}

.J{
    display: flex;
    justify-content: flex-end;
}
.Jarrit{
    display:flex;
    justify-content: flex-end;
    width: 850px;
    background-color: rgba(141, 171, 127, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.Olivia{
    display:flex;
    justify-content: flex-end;
    width: 850px;
    background-color: rgba(141, 171, 127, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
.Jas{
    display: flex;
    justify-content: flex-end;
}
.Jason{
    display:flex;
    justify-content: flex-end;
    width: 850px;
    background-color: rgba(141, 171, 127, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
}
footer{
    background-color: #87b438;
    height: 35px;
}

.vid{
    display: flex;
    justify-content: center;
}
