body {
    background-color: #b3af8f;
    margin: auto;
}

img .card-img-top {
    width: 500px;
    height: auto;
}

.container-fluid {
    margin: 60px;
}
#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card img {
    height: 500px;
    max-height: 290px;
    max-width: 290px;
    border-radius: 4%;
}
.card {
    border-radius: 4%;
    background-color: #9B4631;
    box-shadow: 5px 10px 8px #888888;
}

hr {
    position: relative;
    right: 60px;
    border: none; 
    height: 12px; 
    background: black; 
    margin-bottom: 50px; 
    margin-bottom: 10px;
   
}


/*Responsive*/
@media(max-width: 650px){
    hr{
     background-color:blue;    
    }
}