body {
    background-color: white;
    margin: auto;
}

.carousel-item img{
    height: 100%;
    width: 1200px;
}

img .card-img-top {
    width: 500px;
    height: auto;
}

.container-fluid {
    margin: 60px;
}

.card img {
    height: 500px;
    max-height: 290px;
    max-width: 290px;
}

hr {
   
    border: none; 
    height: 12px; 
    background: black; 
    margin-bottom: 50px; 
    margin-bottom: 10px;
   
}